

body{
    font-family:Arial, Helvetica,sans-serif ;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
}
.container{
    text-align: center;
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.4px 10px rgba(0,0,0,0,1);
}
input {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width:200px;

}
button{
    background-color: #4c4;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 100px;
    color: white;
    border:none;
    cursor: pointer;
    font-size: 16px;
}
button.hover{
    background-color: #45a;
}
ul{
    padding: 10px;
    margin:10px;
    
}
li{
    padding: 10px;
    margin:5px;
    background-color:burlywood;
    border-radius:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.completed{
    text-decoration: line-through;
    color: black;
}


#filterAll{
    background-color: #f44336;
}
#filterCompleted{

    background-color: lightcoral;
}
#filterPending{
    background-color: purple;
}